/*------------+++++++ NAV BAR  */


.navbar-with-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);

}

.border-none {
  border: none;
  outline: none;
}

/* CAMPI INPUT */

.input-field {
  width: 100%;
  /* Imposta la larghezza al 100% per occupare l'intero spazio disponibile */

  @media (min-width: 768px) {
    /* Larghezza personalizzata per schermi di dimensioni maggiori o uguali a 768px */
    width: 200px;
  }
}





/* primo carosello */
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


.carousel-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.2s, box-shadow 0.2s;
}


/* secondo carosello */

.custom-carousel {
  width: 300px;
  height: 200px;
  margin-right: 10px;
}

.carousel-image:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#restaurantCard {
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* loginnnn */
.login-form {
  padding: 20px;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}



/* +++++++card+++++++ */

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
}




/* ???????????????????        ProfilePage+++++++++++++ */


.profile-container {
  margin-top: 50px;
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-content {
  text-align: center;
}

.logout-button {
  margin-top: 20px;
}
